.container {
  width: 2.25rem;
  height: 1.25rem;
  border-radius: 30px;
  background-color: #007bff;
  position: relative;
  cursor: pointer;
  
}

.switcher {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 3px;
}